🔹️ #{{ symbol }} 🗽

✳️ {{ side|upper }} : {{ entry }}

{% if rr %}❗️ R/R : {{ rr }}{% endif %}

⚜️{% if targets|length > 1 %}Targets{% else %}Target{% endif %} : {{ targets|join(' - ') }}

🔰 SL : {{ stop }}

⚠️ ریسک مجاز 0.5 الی 1% کل Margin ⚠️

@Supertradersclub_bot #Forex
